<!-- Single Comment -->
<div class="media mb-4">
  <img class="d-flex mr-3 rounded-circle profile-pic" src="https://www.shareicon.net/data/128x128/2016/09/01/822711_user_512x512.png" alt="">
  <div class="media-body">                   
    <h5 class="mt-0">{{comment.author.username}} <span *ngIf="authService.isCommentAuthor(comment)" class="delete-btn" (click)="deleteComment(comment.id)">Delete</span></h5>
    {{comment.content}}
    <p class="comment-date"><strong>Posted on:</strong> {{comment.createdOn | date}}
    </p>
  </div>
  
</div>
